/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
/* Navbar styles */
body {
  font-family: 'Abel', sans-serif;
  background: #fafafa;
  color: #333333;
}

.navbar-brand {
  font-weight: bold;
}

.game-table {
    margin-bottom: 10%;
}
/* Game form */
.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
  font-size: 17px;
  margin-top: 20px;
  padding-bottom: 30px;
}

.list-color.td {
  color: #a2afb8;
}
